.mdiv {
    overflow-y: scroll;
   
    min-height: 95vh;
    background: linear-gradient(109.6deg, rgb(233, 247, 255) 11.2%, rgb(255, 255, 255) 92.2%);

    /* background: linear-gradient(109.6deg, rgb(255, 221, 225) 11.2%, rgb(253, 178, 178) 45.2%,  rgb(255, 221, 225) 100%); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px;
}
.mdiv::-webkit-scrollbar {
    display: none;
}


.boxContainer {
    margin: 2rem;
    min-width: 20rem;
}

.bigx {
    min-height: 40rem;
    margin-top: 2rem;
    margin-left: 1rem;
    min-width: 20rem;
    margin-right: 2rem;
    background-color: rgb(255, 255, 255);

    border: 1px solid rgb(211, 207, 207);
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .d-flex {
        flex-direction: column !important;
    }
    
    .boxContainer, .bigx {
        margin-right: 0;
        margin-left: auto;
        margin-right: auto;
    }
}

.left{
    min-height: 40rem;
  
}

.tabbble{
    margin: 2rem;
}

