.mdiv {

  min-height: 95vh;
  background-size: cover;
 

}
.insideMdiv{
  
  /* background: linear-gradient(109.6deg, rgb(255, 221, 225) 11.2%, rgb(255, 255, 255) 92.2%); */
  padding-top: 1rem;
  min-height: 95vh;
}

.inBOX{

  height: 40rem;
  margin-top: 1rem;
  width: 100%;
  max-width: 25rem;
  border-radius: 25px;
  display: flex; 
  flex-direction: column; 
  
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  /* background:  rgb(248, 239, 239); */
  background: rgb(160, 209, 250);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  overflow: hidden;
 
}
.inBOX{

  background-color:  rgb(255, 255, 255) 92.2%;
  padding: 1rem;
}

.imgDiv {

  height: 40px;
  border-radius:10px ;
  background-color: rgb(255, 116, 222);
  padding-left:5px;
  width: 40px;
  margin-left: 1rem;
  margin-top: 1rem;

}
.huuu{
margin-top: 4px;
margin-left:1px ;
}





.bullets{

  position: relative;
  height:4rem;
  /* background-color: antiquewhite; */

background-color: rgb(215, 230, 250);
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 10px;
  border-radius: 10px;
}
.bull{
margin: 5px; 

}


.h66{
  font-size: 60px;
  margin: 0;
  
}

.color-change-2xx {
-webkit-animation: color-change-2x 4s linear infinite alternate both;
        animation: color-change-2x 4s linear infinite alternate both;
}
@-webkit-keyframes color-change-2x {
  0% {
    background:  rgba(255, 215, 185, 0.91)
  }
  100% {
    background: rgba(223, 159, 247, 0.8)
  }
}
@keyframes color-change-2x {
  0% {
    background:  rgba(255, 215, 185, 0.91)
  }
  100% {
    background:  rgba(223, 159, 247, 0.8)
  }
}

.getBtn{
  height: 3.5rem;
  border-radius: 30px;
  margin: 1rem;
 
  /* background: radial-gradient(circle at 0.1% 53.8%, rgb(255, 182, 172) 0%, rgb(255, 123, 172) 100.2%); */
  background:  rgb(41, 125, 174) ;
  color: rgb(255, 255, 255);
}

.getBtn:hover{

  background:  rgb(21, 60, 82) ;
  color: rgb(255, 255, 255);
  
}


