.mdiv
{

    height: 95vh;
    width: 100vw;
    background: linear-gradient(109.6deg, rgb(233, 247, 255) 11.2%, rgb(255, 255, 255) 92.2%);

    
}
.card{
    min-height: 20rem;
    width:40rem;
  

}
.cg{
    color: rgb(20, 205, 42);
}

/* Blurred effect */
.blurred {
    filter: blur(5px);
    pointer-events: none;
    user-select: none;
  }
  
  /* Styling for the main container */
  .mdiv {
    padding: 20px;
    background-color: #f8f9fa;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .insideMdiv {
    max-width: 500px;
    width: 100%;
  }

  .alert{
   min-height: 5rem;
  }