


      .mdiv {

        min-height: 95vh;
        background-size: cover;
       
    }

    .insideMdiv{
        /* background: linear-gradient(106.5deg, rgba(216, 189, 168, 0.91) 23%, rgba(234, 190, 250, 0.8) 93%); */
        /* background: linear-gradient(109.6deg, rgb(255, 221, 225) 11.2%, rgb(255, 255, 255) 92.2%); */
        background: linear-gradient(109.6deg, rgb(233, 247, 255) 11.2%, rgb(255, 255, 255) 92.2%);
    
        min-height: 95vh;
    }
    
    
 
    
      .color-change-2xx {
        -webkit-animation: color-change-2x 4s linear infinite alternate both;
                animation: color-change-2x 4s linear infinite alternate both;
    }
    @-webkit-keyframes color-change-2x {
        0% {
          background:  rgba(255, 215, 185, 0.91)
        }
        100% {
          background: rgba(223, 159, 247, 0.8)
        }
      }
      @keyframes color-change-2x {
        0% {
          background:  rgba(255, 215, 185, 0.91)
        }
        100% {
          background:  rgba(223, 159, 247, 0.8)
        }
      }
      
    .getBtn{
        height: 3.5rem;
        border-radius: 30px;
        margin-left: 1rem;
        margin-right: 1rem;
        background: radial-gradient(circle at 0.1% 53.8%, rgb(255, 182, 172) 0%, rgb(255, 123, 172) 100.2%);
      }

/* ////////////// TOGGLE BUtton///////////////////////// */

    

    .outerDiv{
        height: 4rem;
        width: 20rem;
        border: 1px solid;
        display: flex;
        align-items: center;
        justify-content: center;
       border-radius: 50px;
    }
    .custom-toggle-container {
        display: flex;
        align-items: center;
      }
      
      .custom-toggle {
        width: 60px;
        height: 30px;
        /* background-color: #fad4d4; */
        background-color: #4394f8;
        border-radius: 30px;
        position: relative;
        cursor: pointer;
        margin: 0 10px;
        transition: background-color 0.3s;
      }
      
      .toggle-circle {
        width: 26px;
        height: 26px;
        /* background-color: rgb(252, 158, 158); */
        background-color: rgb(228, 188, 255);
        border-radius: 50%;
        position: absolute;
        top: 2px;
        left: 2px;
        transition: transform 0.3s;
      }
      
      .custom-toggle.toggled {
        background-color: #007bff;
      }
      
      .toggle-circle.toggled {
        transform: translateX(30px);
      }
      
      span {
        font-weight: normal;
        color: #aaa;
        transition: color 0.3s, font-weight 0.3s;
      }
      
      span.focused {
        font-weight: bold;
        color: #333;
      }
      


      /* ///////// Animesta ///////// */
      .slide-in-blurred-top {
        -webkit-animation: slide-in-blurred-top 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
                animation: slide-in-blurred-top 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    }

    @-webkit-keyframes slide-in-blurred-top {
        0% {
          -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
                  transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
          -webkit-transform-origin: 50% 0%;
                  transform-origin: 50% 0%;
          -webkit-filter: blur(40px);
                  filter: blur(40px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateY(0) scaleY(1) scaleX(1);
                  transform: translateY(0) scaleY(1) scaleX(1);
          -webkit-transform-origin: 50% 50%;
                  transform-origin: 50% 50%;
          -webkit-filter: blur(0);
                  filter: blur(0);
          opacity: 1;
        }
      }
      @keyframes slide-in-blurred-top {
        0% {
          -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
                  transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
          -webkit-transform-origin: 50% 0%;
                  transform-origin: 50% 0%;
          -webkit-filter: blur(40px);
                  filter: blur(40px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateY(0) scaleY(1) scaleX(1);
                  transform: translateY(0) scaleY(1) scaleX(1);
          -webkit-transform-origin: 50% 50%;
                  transform-origin: 50% 50%;
          -webkit-filter: blur(0);
                  filter: blur(0);
          opacity: 1;
        }
      }
      
      h2{
        padding: 0;
        margin: 0;
      }